info:
  title: Isaacus API
  version: 0.8.2
  description: A RESTful API for using Isaacus legal AI models, data and other solutions.
  termsOfService: https://isaacus.com/terms
  contact:
    name: Isaacus Support
    url: https://isaacus.com/support
    email: support@isaacus.com
  license:
    name: Apache 2.0
    url: https://github.com/isaacus-dev/openapi/blob/main/LICENSE
openapi: 3.1.0
servers:
- url: https://api.isaacus.com/v1
paths:
  /embeddings:
    post:
      tags:
      - Embeddings
      summary: Embedding
      description: Embed legal texts with an Isaacus legal AI embedder.
      operationId: CreateEmbeddings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
        required: true
      responses:
        '200':
          description: Embeddings of legal texts produced by an Isaacus legal AI embedder.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '400':
          description: The request was invalid or could not be processed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Validation error
                    status: 400
                    detail: The request was invalid or could not be processed.
                    instance: null
                Embedding input too large error:
                  summary: Embedding input too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Embedding input too large error
                    status: 400
                    detail: The input to the embedding model exceeds the maximum allowed
                      size.
                    instance: null
                Unsupported embedding dimension error:
                  summary: Unsupported embedding dimension error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Unsupported embedding dimension error
                    status: 400
                    detail: The provided embedding dimension is not supported by the
                      model.
                    instance: null
                Unsupported embedding task error:
                  summary: Unsupported embedding task error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Unsupported embedding task error
                    status: 400
                    detail: The provided embedding task is not supported by the model.
                    instance: null
        '401':
          description: The API key you provided does not exist, is expired or revoked,
            or is not authorized to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAPIKeyError'
              examples:
                Unauthorized API key error:
                  summary: Unauthorized API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Unauthorized API key error
                    status: 401
                    detail: The API key you provided does not exist, is expired or
                      revoked, or is not authorized to access this resource.
                    instance: null
                Incorrect API key error:
                  summary: Incorrect API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Incorrect API key error
                    status: 401
                    detail: The API key you provided does not exist or is expired
                      or revoked.
                    instance: null
        '402':
          description: Your account is overdue, please pay any outstanding invoices
            to continue using our services.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountOverdueError'
              examples:
                Account overdue error:
                  summary: Account overdue error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#402-payment-required
                    title: Account overdue error
                    status: 402
                    detail: Your account is overdue, please pay any outstanding invoices
                      to continue using our services.
                    instance: null
        '403':
          description: You are not allowed to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccessForbiddenError'
              examples:
                Access forbidden error:
                  summary: Access forbidden error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: Access forbidden error
                    status: 403
                    detail: You are not allowed to access this resource.
                    instance: null
                No subscription error:
                  summary: No subscription error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: No subscription error
                    status: 403
                    detail: You do not have an active subscription to our zero-flat
                      fee, usage-based API plan.
                    instance: null
        '413':
          description: The request is larger than the server is willing or able to
            process.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestTooLargeError'
              examples:
                Request too large error:
                  summary: Request too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#413-request-too-large
                    title: Request too large error
                    status: 413
                    detail: The request is larger than the server is willing or able
                      to process.
                    instance: null
        '500':
          description: An unexpected error occurred while processing the request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                Internal server error:
                  summary: Internal server error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Internal server error
                    status: 500
                    detail: An unexpected error occurred while processing the request.
                    instance: null
      deprecated: false
  /rerankings:
    post:
      tags:
      - Rerankings
      summary: Reranking
      description: Rank legal documents by their relevance to a query with an Isaacus
        legal AI reranker.
      operationId: CreateReranking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankingRequest'
        required: true
      responses:
        '200':
          description: The rankings of texts by relevance to a query.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankingResponse'
        '400':
          description: The request was invalid or could not be processed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Validation error
                    status: 400
                    detail: The request was invalid or could not be processed.
                    instance: null
                Invalid IQL query error:
                  summary: Invalid IQL query error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Invalid IQL query error
                    status: 400
                    detail: The provided query is not valid Isaacus Query Language
                      (IQL) syntax.
                    instance: null
                Query too long error:
                  summary: Query too long error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Query too long error
                    status: 400
                    detail: The provided query exceeds the model's maximum input length
                      less overhead.
                    instance: null
        '401':
          description: The API key you provided does not exist, is expired or revoked,
            or is not authorized to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAPIKeyError'
              examples:
                Unauthorized API key error:
                  summary: Unauthorized API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Unauthorized API key error
                    status: 401
                    detail: The API key you provided does not exist, is expired or
                      revoked, or is not authorized to access this resource.
                    instance: null
                Incorrect API key error:
                  summary: Incorrect API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Incorrect API key error
                    status: 401
                    detail: The API key you provided does not exist or is expired
                      or revoked.
                    instance: null
        '402':
          description: Your account is overdue, please pay any outstanding invoices
            to continue using our services.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountOverdueError'
              examples:
                Account overdue error:
                  summary: Account overdue error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#402-payment-required
                    title: Account overdue error
                    status: 402
                    detail: Your account is overdue, please pay any outstanding invoices
                      to continue using our services.
                    instance: null
        '403':
          description: You are not allowed to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccessForbiddenError'
              examples:
                Access forbidden error:
                  summary: Access forbidden error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: Access forbidden error
                    status: 403
                    detail: You are not allowed to access this resource.
                    instance: null
                No subscription error:
                  summary: No subscription error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: No subscription error
                    status: 403
                    detail: You do not have an active subscription to our zero-flat
                      fee, usage-based API plan.
                    instance: null
        '413':
          description: The request is larger than the server is willing or able to
            process.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestTooLargeError'
              examples:
                Request too large error:
                  summary: Request too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#413-request-too-large
                    title: Request too large error
                    status: 413
                    detail: The request is larger than the server is willing or able
                      to process.
                    instance: null
        '500':
          description: An unexpected error occurred while processing the request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                Internal server error:
                  summary: Internal server error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Internal server error
                    status: 500
                    detail: An unexpected error occurred while processing the request.
                    instance: null
                Chunking timeout error:
                  summary: Chunking timeout error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Chunking timeout error
                    status: 500
                    detail: Chunking timed out. Did you try to chunk a very large
                      text with a very low chunk size or very little variation in
                      levels of whitespace?
                    instance: null
      deprecated: false
  /extractions/qa:
    post:
      tags:
      - Extractions
      summary: Extractive question answering
      description: Extract answers to questions from legal documents with an Isaacus
        legal AI answer extractor.
      operationId: CreateAnswerExtractions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnswerExtractionRequest'
        required: true
      responses:
        '200':
          description: The results of extracting answers from texts.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnswerExtractionResponse'
        '400':
          description: The request was invalid or could not be processed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Validation error
                    status: 400
                    detail: The request was invalid or could not be processed.
                    instance: null
                Query too long error:
                  summary: Query too long error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Query too long error
                    status: 400
                    detail: The provided query exceeds the model's maximum input length
                      less overhead.
                    instance: null
        '401':
          description: The API key you provided does not exist, is expired or revoked,
            or is not authorized to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAPIKeyError'
              examples:
                Unauthorized API key error:
                  summary: Unauthorized API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Unauthorized API key error
                    status: 401
                    detail: The API key you provided does not exist, is expired or
                      revoked, or is not authorized to access this resource.
                    instance: null
                Incorrect API key error:
                  summary: Incorrect API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Incorrect API key error
                    status: 401
                    detail: The API key you provided does not exist or is expired
                      or revoked.
                    instance: null
        '402':
          description: Your account is overdue, please pay any outstanding invoices
            to continue using our services.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountOverdueError'
              examples:
                Account overdue error:
                  summary: Account overdue error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#402-payment-required
                    title: Account overdue error
                    status: 402
                    detail: Your account is overdue, please pay any outstanding invoices
                      to continue using our services.
                    instance: null
        '403':
          description: You are not allowed to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccessForbiddenError'
              examples:
                Access forbidden error:
                  summary: Access forbidden error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: Access forbidden error
                    status: 403
                    detail: You are not allowed to access this resource.
                    instance: null
                No subscription error:
                  summary: No subscription error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: No subscription error
                    status: 403
                    detail: You do not have an active subscription to our zero-flat
                      fee, usage-based API plan.
                    instance: null
        '413':
          description: The request is larger than the server is willing or able to
            process.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestTooLargeError'
              examples:
                Request too large error:
                  summary: Request too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#413-request-too-large
                    title: Request too large error
                    status: 413
                    detail: The request is larger than the server is willing or able
                      to process.
                    instance: null
        '500':
          description: An unexpected error occurred while processing the request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                Internal server error:
                  summary: Internal server error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Internal server error
                    status: 500
                    detail: An unexpected error occurred while processing the request.
                    instance: null
                Chunking timeout error:
                  summary: Chunking timeout error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Chunking timeout error
                    status: 500
                    detail: Chunking timed out. Did you try to chunk a very large
                      text with a very low chunk size or very little variation in
                      levels of whitespace?
                    instance: null
      deprecated: false
  /classifications/universal:
    post:
      tags:
      - Classifications
      summary: Universal classification
      description: Classify the relevance of legal documents to a query with an Isaacus
        universal legal AI classifier.
      operationId: CreateUniversalClassifications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UniversalClassificationRequest'
        required: true
      responses:
        '200':
          description: Classifications of the relevance of legal documents to a query
            produced by an Isaacus universal legal AI classifier.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UniversalClassificationResponse'
        '400':
          description: The request was invalid or could not be processed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Validation error
                    status: 400
                    detail: The request was invalid or could not be processed.
                    instance: null
                Invalid IQL query error:
                  summary: Invalid IQL query error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Invalid IQL query error
                    status: 400
                    detail: The provided query is not valid Isaacus Query Language
                      (IQL) syntax.
                    instance: null
                Query too long error:
                  summary: Query too long error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Query too long error
                    status: 400
                    detail: The provided query exceeds the model's maximum input length
                      less overhead.
                    instance: null
        '401':
          description: The API key you provided does not exist, is expired or revoked,
            or is not authorized to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAPIKeyError'
              examples:
                Unauthorized API key error:
                  summary: Unauthorized API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Unauthorized API key error
                    status: 401
                    detail: The API key you provided does not exist, is expired or
                      revoked, or is not authorized to access this resource.
                    instance: null
                Incorrect API key error:
                  summary: Incorrect API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Incorrect API key error
                    status: 401
                    detail: The API key you provided does not exist or is expired
                      or revoked.
                    instance: null
        '402':
          description: Your account is overdue, please pay any outstanding invoices
            to continue using our services.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountOverdueError'
              examples:
                Account overdue error:
                  summary: Account overdue error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#402-payment-required
                    title: Account overdue error
                    status: 402
                    detail: Your account is overdue, please pay any outstanding invoices
                      to continue using our services.
                    instance: null
        '403':
          description: You are not allowed to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccessForbiddenError'
              examples:
                Access forbidden error:
                  summary: Access forbidden error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: Access forbidden error
                    status: 403
                    detail: You are not allowed to access this resource.
                    instance: null
                No subscription error:
                  summary: No subscription error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: No subscription error
                    status: 403
                    detail: You do not have an active subscription to our zero-flat
                      fee, usage-based API plan.
                    instance: null
        '413':
          description: The request is larger than the server is willing or able to
            process.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestTooLargeError'
              examples:
                Request too large error:
                  summary: Request too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#413-request-too-large
                    title: Request too large error
                    status: 413
                    detail: The request is larger than the server is willing or able
                      to process.
                    instance: null
        '500':
          description: An unexpected error occurred while processing the request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                Internal server error:
                  summary: Internal server error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Internal server error
                    status: 500
                    detail: An unexpected error occurred while processing the request.
                    instance: null
                Chunking timeout error:
                  summary: Chunking timeout error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Chunking timeout error
                    status: 500
                    detail: Chunking timed out. Did you try to chunk a very large
                      text with a very low chunk size or very little variation in
                      levels of whitespace?
                    instance: null
      deprecated: false
  /enrichments:
    post:
      tags:
      - Enrichments
      summary: Enrichment
      description: Enrich documents with an Isaacus enricher model.
      operationId: CreateEnrichments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentRequest'
        required: true
      responses:
        '200':
          description: The enriched documents alongside usage statistics.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentResponse'
        '400':
          description: The request was invalid or could not be processed.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Validation error
                    status: 400
                    detail: The request was invalid or could not be processed.
                    instance: null
                Enrichment input too large error:
                  summary: Enrichment input too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#400-validation-error
                    title: Enrichment input too large error
                    status: 400
                    detail: The input to the enrichment model exceeds the maximum
                      allowed size.
                    instance: null
        '401':
          description: The API key you provided does not exist, is expired or revoked,
            or is not authorized to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedAPIKeyError'
              examples:
                Unauthorized API key error:
                  summary: Unauthorized API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Unauthorized API key error
                    status: 401
                    detail: The API key you provided does not exist, is expired or
                      revoked, or is not authorized to access this resource.
                    instance: null
                Incorrect API key error:
                  summary: Incorrect API key error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#401-not-authenticated
                    title: Incorrect API key error
                    status: 401
                    detail: The API key you provided does not exist or is expired
                      or revoked.
                    instance: null
        '402':
          description: Your account is overdue, please pay any outstanding invoices
            to continue using our services.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccountOverdueError'
              examples:
                Account overdue error:
                  summary: Account overdue error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#402-payment-required
                    title: Account overdue error
                    status: 402
                    detail: Your account is overdue, please pay any outstanding invoices
                      to continue using our services.
                    instance: null
        '403':
          description: You are not allowed to access this resource.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/AccessForbiddenError'
              examples:
                Access forbidden error:
                  summary: Access forbidden error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: Access forbidden error
                    status: 403
                    detail: You are not allowed to access this resource.
                    instance: null
                No subscription error:
                  summary: No subscription error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
                    title: No subscription error
                    status: 403
                    detail: You do not have an active subscription to our zero-flat
                      fee, usage-based API plan.
                    instance: null
        '413':
          description: The request is larger than the server is willing or able to
            process.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RequestTooLargeError'
              examples:
                Request too large error:
                  summary: Request too large error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#413-request-too-large
                    title: Request too large error
                    status: 413
                    detail: The request is larger than the server is willing or able
                      to process.
                    instance: null
        '500':
          description: An unexpected error occurred while processing the request.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
              examples:
                Internal server error:
                  summary: Internal server error
                  value:
                    type: https://docs.isaacus.com/api-reference/errors#500-internal-server-error
                    title: Internal server error
                    status: 500
                    detail: An unexpected error occurred while processing the request.
                    instance: null
      deprecated: false
components:
  schemas:
    AccessForbiddenError:
      properties:
        type:
          type: string
          minLength: 1
          title: Non-empty string
          description: A URI reference that identifies the problem type.
          default: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
          examples:
          - https://docs.isaacus.com/api-reference/errors#403-access-forbidden
        title:
          type: string
          minLength: 1
          title: Non-empty string
          description: A short, human-readable summary of the problem type.
          default: Access forbidden error
          examples:
          - Access forbidden error
        status:
          type: integer
          const: 403
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          default: 403
          examples:
          - 403
        detail:
          oneOf:
          - type: string
            minLength: 1
            title: Non-empty string
            description: A string with at least one character.
            default: You are not allowed to access this resource.
            examples:
            - A string.
          - type: 'null'
          description: An optional human-readable explanation specific to this occurrence
            of the problem.
          default: You are not allowed to access this resource.
          examples:
          - You are not allowed to access this resource.
        instance:
          oneOf:
          - type: string
            minLength: 1
            title: Non-empty string
            description: A string with at least one character.
            examples:
            - A string.
          - type: 'null'
          description: An optional URI reference that identifies the specific occurrence
            of the problem.
          examples:
          - null
      type: object
      required: []
      title: Access forbidden error
      description: An RFC 7807 problem detail object.
      examples:
      - type: https://docs.isaacus.com/api-reference/errors#403-access-forbidden
        title: Access forbidden error
        status: 403
        detail: You are not allowed to access this resource.
        instance: null
    AccountOverdueError:
      properties:
        type:
          type: string
          minLength: 1
          title: Non-empty string
          description: A URI reference that identifies the problem type.
          default: https://docs.isaacus.com/api-reference/errors#402-payment-required
          examples:
          - https://docs.isaacus.com/api-reference/errors#402-payment-required
        title:
          type: string
          minLength: 1
          title: Non-empty string
          description: A short, human-readable summary of the problem type.
          default: Account overdue error
          examples:
          - Account overdue error
        status:
          type: integer
          const: 402
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          default: 402
          examples:
          - 402
        detail:
          oneOf:
          - type: string
            minLength: 1
            title: Non-empty string
            description: A string with at least one character.
            default: Your account is overdue, please pay any outstanding invoices
              to continue using our services.
            examples:
            - A string.
          - type: 'null'
          description: An optional human-readable explanation specific to this occurrence
            of the problem.
          default: Your account is overdue, please pay any outstanding invoices to
            continue using our services.
          examples:
          - Your account is overdue, please pay any outstanding invoices to continue
            using our services.
        instance:
          oneOf:
          - type: string
            minLength: 1
            title: Non-empty string
            description: A string with at least one character.
            examples:
            - A string.
          - type: 'null'
          description: An optional URI reference that identifies the specific occurrence
            of the problem.
          examples:
          - null
      type: object
      required: []
      title: Account overdue error
      description: An RFC 7807 problem detail object.
      examples:
      - type: https://docs.isaacus.com/api-reference/errors#402-payment-required
        title: Account overdue error
        status: 402
        detail: Your account is overdue, please pay any outstanding invoices to continue
          using our services.
        instance: null
    Answer:
      properties:
        text:
          type: string
          minLength: 1
          description: The text of the answer.
          examples:
          - 30 years if the person murdered was a police officer and 25 years in any
            other case
        start:
          type: integer
          exclusiveMinimum: -1.0
          title: Non-negative integer
          description: The index of the first character of the answer in the text,
            starting from `0` (and, therefore, ending at the number of characters
            in the text minus `1`).
          examples:
          - 61
        end:
          type: integer
          exclusiveMinimum: -1.0
          title: Non-negative integer
          description: The index of the character immediately after the last character
            of the answer in the text, starting from `0` (such that, in Python, the
            answer is equivalent to `text[start:end]`).
          examples:
          - 144
        score:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Unit interval
          description: A score between `0` and `1`, inclusive, representing the strength
            of the answer.
          examples:
          - 0.11460486645671249
      type: object
      required:
      - end
      - score
      - start
      - text
      title: Answer
      description: An answer extracted from a text.
      examples:
      - text: 30 years if the person murdered was a police officer and 25 years in
          any other case
        start: 61
        end: 144
        score: 0.11460486645671249
    AnswerExtraction:
      properties:
        index:
          type: integer
          exclusiveMinimum: -1.0
          title: Non-negative integer
          description: The index of the text in the input array of texts that this
            result represents, starting from `0` (and, therefore, ending at the number
            of texts minus `1`).
          examples:
          - 0
        answers:
          items:
            $ref: '#/components/schemas/Answer'
          type: array
          description: Answers extracted from the text, ordered from highest to lowest
            score.
          examples:
          - - text: 30 years if the person murdered was a police officer and 25 years
                in any other case
              start: 61
              end: 144
              score: 0.11460486645671249
        inextractability_score:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Unit interval
          description: 'A score between `0` and `1`, inclusive, representing the likelihood
            that an answer can not be extracted from the text.


            Where this score is greater than the highest score of all possible answers,
            the text should be regarded as not having an extractable answer to the
            query. If that is the case and `ignore_inextractability` is `false`, no
            answers will be returned.'
          examples:
          - 0.0027424068182309302
      type: object
      required:
      - answers
      - index
      - inextractability_score
      title: Answer extraction
      description: The result of extracting answers from a text.
      examples:
      - index: 0
        inextractability_score: 0.0027424068182309302
        answers:
        - text: 30 years if the person murdered was a police officer and 25 years
            in any other case
          start: 61
          end: 144
          score: 0.11460486645671249
    AnswerExtractionRequest:
      properties:
        model:
          type: string
          enum:
          - kanon-answer-extractor
          - kanon-answer-extractor-mini
          description: The ID of the [model](https://docs.isaacus.com/models#extractive-question-answering)
            to use for extractive question answering.
          examples:
          - kanon-answer-extractor
        query:
          type: string
          maxLength: 5000
          minLength: 1
          pattern: \S
          description: 'The query to extract the answer to.


            The query must contain at least one non-whitespace character.


            Unlike the texts from which the answer will be extracted, the query cannot
            be so long that it exceeds the maximum input length of the model.'
          examples:
          - What is the punishment for murder in Victoria?
        texts:
          items:
            type: string
          type: array
          description: 'The texts to search for the answer in and extract the answer
            from.


            There must be at least one text.


            Each text must contain at least one non-whitespace character.'
          examples:
          - - The standard sentence for murder in the State of Victoria is 30 years
              if the person murdered was a police officer and 25 years in any other
              case.
        ignore_inextractability:
          type: boolean
          description: 'Whether to, if the model''s score of the likelihood that an
            answer can not be extracted from a text is greater than the highest score
            of all possible answers, still return the highest scoring answers for
            that text.


            If you have already determined that the texts answer the query, for example,
            by using one of our classification or reranker models, then you should
            set this to `true`.'
          default: false
          examples:
          - false
        top_k:
          type: integer
          minimum: 1.0
          title: Positive integer
          description: 'The number of highest scoring answers to return.


            If `null`, which is the default, all answers will be returned.'
          default: 1
          examples:
          - 1
        chunking_options:
          oneOf:
          - $ref: '#/components/schemas/ChunkingOptions'
          - type: 'null'
          description: 'Settings for how texts should be chunked into smaller segments
            by [semchunk](https://github.com/isaacus-dev/semchunk) before extraction.


            If `null`, the texts will not be chunked and will instead be truncated
            to the maximum input length of the model less overhead if found to exceed
            that limit.


            Chunking is enabled by default.'
          examples:
          - size: null
            overlap_ratio: null
            overlap_tokens: null
      type: object
      required:
      - model
      - query
      - texts
      title: Answer extraction request
      description: A request to extract answers from legal documents with an Isaacus
        legal AI extractive question answering model.
      examples:
      - model: kanon-answer-extractor
        query: What is the punishment for murder in Victoria?
        texts:
        - The standard sentence for murder in the State of Victoria is 30 years if
          the person murdered was a police officer and 25 years in any other case.
    AnswerExtractionResponse:
      properties:
        extractions:
          items:
            $ref: '#/components/schemas/AnswerExtraction'
          type: array
          description: The results of extracting answers from the texts, ordered from
            highest to lowest answer confidence score (or else lowest to highest inextractability
            score if there are no answers for a text).
          examples:
          - - index: 0
              answers:
              - text: 30 years if the person murdered was a police officer and 25
                  years in any other case
                start: 61
                end: 144
                score: 0.11460486645671249
              inextractability_score: 0.0027424068182309302
        usage:
          $ref: '#/components/schemas/AnswerExtractionUsage'
      type: object
      required:
      - extractions
      - usage
      title: Answer extraction response
      examples:
      - extractions:
        - index: 0
          answers:
          - text: 30 years if the person murdered was a police officer and 25 years
              in any other case
            start: 61
            end: 144
            score: 0.11460486645671249
          inextractability_score: 0.0027424068182309302
        usage:
          input_tokens: 43
    AnswerExtractionUsage:
      properties:
        input_tokens:
          type: integer
          minimum: 1.0
          title: Positive integer
          description: The number of tokens inputted to the model.
          examples:
          - 43
      type: object
      required:
      - input_tokens
      title: Answer extraction usage
      description: Statistics about the usage of resources in the process of extracting
        answers from the texts.
      examples:
      - input_tokens: 43
    ChunkingOptions:
      properties:
        size:
          oneOf:
          - type: integer
            minimum: 1.0
            title: Positive integer
            description: A whole number greater than or equal to 1.
            examples:
            - 1
          - type: 'null'
          description: 'The maximum number of tokens allowed in a chunk.


            If `null`, the maximum input length of the model will be used less overhead.'
          examples:
          - 512
        overlap_ratio:
          oneOf:
          - type: number
            exclusiveMaximum: 1.0
            minimum: 0.0
            title: Unit interval (closed, open)
            description: A number greater than or equal to 0 and less than 1.
            examples:
            - 0.5
          - type: 'null'
          description: 'The proportion of the chunk size by which chunks should overlap.


            The ratio must be less than 1.


            If `null`, no overlapping will occur unless `overlap_tokens` is set.


            `overlap_ratio` and `overlap_tokens` cannot both be set.'
          examples:
          - 0.1
          - null
        overlap_tokens:
          oneOf:
          - type: integer
            exclusiveMinimum: -1.0
            title: Non-negative integer
            description: A whole number greater than or equal to 0.
            examples:
            - 0
          - type: 'null'
          description: 'The number of tokens by which chunks should overlap.


            If `null`, no overlapping will occur unless `overlap_ratio` is set.


            `overlap_tokens` and `overlap_ratio` cannot both be set.'
          examples:
          - null
          - 10
      type: object
      required: []
      title: Chunking options
      description: Options for how to split text into smaller chunks.
      examples:
      - size: 512
        overlap_ratio: 0.1
      - size: 512
        overlap_tokens: 10
      - size: 512
    Embedding:
      properties:
        index:
          type: integer
          exclusiveMinimum: -1.0
          title: Non-negative integer
          description: The position of the content in the input array of contents,
            starting from `0` (and, therefore, ending at the number of contents minus
            `1`).
          examples:
          - 0
        embedding:
          items:
            type: number
          type: array
          description: The embedding of the content represented as an array of floating
            point numbers.
          examples:
          - - -0.0258
            - 0.02062
            - -0.0114
      type: object
      required:
      - embedding
      - index
      title: Embedding
      examples:
      - index: 0
        embedding:
        - -0.0258
        - 0.02062
        - -0.0114
    EmbeddingRequest:
      properties:
        model:
          type: string
          const: kanon-2-embedder
          description: The ID of the [model](https://docs.isaacus.com/models#embedding)
            to use for embedding.
          examples:
          - kanon-2-embedder
        texts:
          oneOf:
          - items:
              type: string
            type: array
          - type: string
          description: 'The text or array of texts to embed.


            Each text must contain at least one non-whitespace character.


            No more than 128 texts can be embedded in a single request.'
          examples:
          - - Are restraints of trade enforceable under English law?
            - What is a non-compete clause?
        task:
          type:
          - 'null'
          - string
          enum:
          - retrieval/query
          - retrieval/document
          - null
          description: 'The task the embeddings will be used for.


            `retrieval/query` is meant for queries and statements, and `retrieval/document`
            is meant for anything to be retrieved using query embeddings.


            If `null`, which is the default setting, embeddings will not be optimized
            for any particular task.'
          examples:
          - retrieval/query
        overflow_strategy:
          type:
          - 'null'
          - string
          enum:
          - drop_end
          - null
          description: 'The strategy to employ when content exceeds the model''s maximum
            input length.


            `drop_end`, which is the default setting, drops tokens from the end of
            the content exceeding the limit.


            If `null`, an error will be raised if any content exceeds the model''s
            maximum input length.'
          default: drop_end
          examples:
          - drop_end
        dimensions:
          oneOf:
          - type: integer
            minimum: 1.0
            title: Positive integer
            description: A whole number greater than or equal to 1.
            examples:
            - 1
          - type: 'null'
          description: 'The number of dimensions the embeddings should have, not exceeding
            the maximum dimensions of the model.


            If `null`, the model''s default dimensions will be used.'
          examples:
          - 1792
      type: object
      required:
      - model
      - texts
      title: Embedding request
      description: A request to embed legal texts with an Isaacus legal AI embedder.
      examples:
      - model: kanon-2-embedder
        texts:
        - Are restraints of trade enforceable under English law?
        - What is a non-compete clause?
        task: retrieval/query
    EmbeddingResponse:
      properties:
        embeddings:
          items:
            $ref: '#/components/schemas/Embedding'
          type: array
          description: The embeddings of the inputs.
          examples:
          - - index: 0
              embedding:
              - -0.0258
              - 0.02062
              - -0.0114
            - index: 1
              embedding:
              - -0.0358
              - -0.0128
              - 0.00251
        usage:
          $ref: '#/components/schemas/EmbeddingUsage'
      type: object
      required:
      - embeddings
      - usage
      title: Embedding response
      examples:
      - embeddings:
        - index: 0
          embedding:
          - -0.0258
          - 0.02062
          - -0.0114
        - index: 1
          embedding:
          - -0.0358
          - -0.0128
          - 0.00251
        usage:
          input_tokens: 42
    EmbeddingUsage:
      properties:
        input_tokens:
          type: integer
          minimum: 1.0
          title: Positive integer
          description: The number of tokens inputted to the model.
          examples:
          - 42
      type: object
      required:
      - input_tokens
      title: Embedding usage
      description: Statistics about the usage of resources in the process of embedding
        the inputs.
      examples:
      - input_tokens: 42
    EnrichmentRequest:
      properties:
        model:
          type: string
          const: kanon-2-enricher-preview
          description: The ID of the [model](https://docs.isaacus.com/models#enrichment)
            to use for enrichment.
          examples:
          - kanon-2-enricher-preview
        texts:
          oneOf:
          - items:
              type: string
            type: array
          - type: string
          description: 'A text or array of texts to be enriched, each containing at
            least one non-whitespace character.


            No more than 8 texts can be enriched in a single request.'
          examples:
          - - 1.5 You (the "User") agree to be bound by these Terms.
        overflow_strategy:
          type:
          - 'null'
          - string
          enum:
          - auto
          - drop_end
          - null
          description: 'The strategy for handling content exceeding the model''s maximum
            input length.


            `auto` currently behaves the same as `drop_end`, dropping excess tokens
            from the end of input. In the future, `auto` may implement more sophisticated
            strategies such as chunking and context-aware stitching.


            `drop_end` drops tokens from the end of input exceeding the model''s maximum
            input length.


            `null`, which is the default setting, raises an error if the input exceeds
            the model''s maximum input length.'
          examples:
          - null
      type: object
      required:
      - model
      - texts
      title: Enrichment request
      description: 'A request to enrich texts with an Isaacus enrichment model.


        Note that this endpoint is currently in closed beta and is subject to change
        or be removed without notice until its official release. To get access, apply
        to the [Isaacus Beta Program](https://isaacus.com/beta).'
      examples:
      - model: kanon-2-enricher-preview
        texts:
        - '[42] The U.S. Attorney General, Mr. McGill, argued at ¶ 21 of the Filing
          that "§ 206 of Title 29 of the U.S. Code (the "Labor Title") does not apply
          to the plaintiff, Ms. Moody, given the definition of an "employee" at §203(e)(4)
          of the Labor Title does not include volunteers, and, regardless, she lives
          in Austria."'
        overflow_strategy: null
    EnrichmentResponse:
      properties:
        results:
          items:
            $ref: '#/components/schemas/EnrichmentResult'
          type: array
          description: 'The input documents enriched into version 1.0.0 of the Isaacus
            Legal Graph Schema (IGLS).


            All spans in an enriched document graph are indexed into the Unicode code
            point space of a source document. Access to source documents is thus required
            to resolve spans into text.


            The start and end indices of spans are zero-based (i.e., the first Unicode
            code point in the document is at index 0) and half-open (i.e., the end
            index is exclusive).


            All spans are globally laminar and well-nested similar to XML—it is impossible
            for any two spans to partially overlap; they can only be disjoint, adjacent,
            or wholly nested.


            Spans of the exact same type (e.g., segments) will never be duplicated.


            Spans cannot be empty and will never start or end at whitespace.


            When using programming languages other than Python (which uses zero-based,
            half-open, Unicode code point-spaced string indexing), indices may need
            to be translated accordingly (for example, JavaScript slices into UTF-16
            code units instead of Unicode code points).'
          examples:
          - version: ilgs@1
            title: null
            subtitle: null
            type: other
            jurisdiction: US-FED
            segments:
            - id: seg:0
              kind: unit
              type: paragraph
              category: annotation
              type_name: null
              code:
                start: 0
                end: 4
              title: null
              parent: null
              span:
                start: 0
                end: 317
            crossreferences: []
            locations:
            - id: loc:0
              name:
                start: 308
                end: 315
              type: country
              parent: null
              mentions:
              - start: 308
                end: 315
            persons:
            - id: per:0
              name:
                start: 32
                end: 42
              type: natural
              role: defense_counsel
              parent: null
              residence: null
              mentions:
              - start: 32
                end: 42
            - id: per:1
              name:
                start: 167
                end: 176
              type: natural
              role: plaintiff
              parent: null
              residence: loc:0
              mentions:
              - start: 167
                end: 176
            emails: []
            websites: []
            phone_numbers: []
            id_numbers: []
            terms:
            - id: term:0
              name:
                start: 120
                end: 131
              meaning:
                start: 88
                end: 113
              mentions:
              - start: 237
                end: 248
            external_documents:
            - id: exd:0
              name:
                start: 66
                end: 72
              type: other
              jurisdiction: US-FED
              reception: neutral
              mentions:
              - start: 66
                end: 72
              pinpoints:
              - start: 54
                end: 58
            - id: exd:1
              name:
                start: 80
                end: 113
              type: statute
              jurisdiction: US-FED
              reception: neutral
              mentions:
              - start: 80
                end: 113
              pinpoints:
              - start: 79
                end: 84
              - start: 219
                end: 229
            quotes:
            - source_segment: null
              source_document: exd:0
              source_person: per:0
              amending: false
              span:
                start: 79
                end: 317
            dates: []
            headings: []
            junk: []
        usage:
          $ref: '#/components/schemas/EnrichmentUsage'
      type: object
      required:
      - results
      - usage
      title: Enrichment response
      examples:
      - results:
        - index: 0
          document:
            version: ilgs@1
            title: null
            subtitle: null
            type: other
            jurisdiction: US-FED
            segments:
            - id: seg:0
              kind: unit
              type: paragraph
              category: annotation
              type_name: null
              code:
                start: 0
                end: 4
              title: null
              parent: null
              span:
                start: 0
                end: 317
            crossreferences: []
            locations:
            - id: loc:0
              name:
                start: 308
                end: 315
              type: country
              parent: null
              mentions:
              - start: 308
                end: 315
            persons:
            - id: per:0
              name:
                start: 32
                end: 42
              type: natural
              role: defense_counsel
              parent: null
              residence: null
              mentions:
              - start: 32
                end: 42
            - id: per:1
              name:
                start: 167
                end: 176
              type: natural
              role: plaintiff
              parent: null
              residence: loc:0
              mentions:
              - start: 167
                end: 176
            emails: []
            websites: []
            phone_numbers: []
            id_numbers: []
            terms:
            - id: term:0
              name:
                start: 120
                end: 131
              meaning:
                start: 88
                end: 113
              mentions:
              - start: 237
                end: 248
            external_documents:
            - id: exd:0
              name:
                start: 66
                end: 72
              type: other
              jurisdiction: US-FED
              reception: neutral
              mentions:
              - start: 66
                end: 72
              pinpoints:
              - start: 54
                end: 58
            - id: exd:1
              name:
                start: 80
                end: 113
              type: statute
              jurisdiction: US-FED
              reception: neutral
              mentions:
              - start: 80
                end: 113
              pinpoints:
              - start: 79
                end: 84
              - start: 219
                end: 229
            quotes:
            - source_segment: null
              source_document: exd:0
              source_person: per:0
              amending: false
              span:
                start: 79
                end: 317
            dates: []
            headings: []
            junk: []
        usage:
          input_tokens: 91
    EnrichmentResult:
      properties:
        index:
          type: integer
          exclusiveMinimum: -1.0
          title: Non-negative integer
          description: The index of this document in the input array of texts, starting
            at `0` (and, therefore, ending at the number of inputs minus `1`).
          examples:
          - 0
        document:
          $ref: '#/components/schemas/ILGSv1Document'
      type: object
      required:
      - document
      - index
      title: Enrichment result
      description: An enriched document alongside its index in the input array of
        texts.
      examples:
      - index: 0
        document:
          version: ilgs@1
          title: null
          subtitle: null
          type: other
          jurisdiction: US-FED
          segments:
          - id: seg:0
            kind: unit
            type: paragraph
            category: annotation
            type_name: null
            code:
              start: 0
              end: 4
            title: null
            parent: null
            span:
              start: 0
              end: 317
          crossreferences: []
          locations:
          - id: loc:0
            name:
              start: 308
              end: 315
            type: country
            parent: null
            mentions:
            - start: 308
              end: 315
          persons:
          - id: per:0
            name:
              start: 32
              end: 42
            type: natural
            role: defense_counsel
            parent: null
            residence: null
            mentions:
            - start: 32
              end: 42
          - id: per:1
            name:
              start: 167
              end: 176
            type: natural
            role: plaintiff
            parent: null
            residence: loc:0
            mentions:
            - start: 167
              end: 176
          emails: []
          websites: []
          phone_numbers: []
          id_numbers: []
          terms:
          - id: term:0
            name:
              start: 120
              end: 131
            meaning:
              start: 88
              end: 113
            mentions:
            - start: 237
              end: 248
          external_documents:
          - id: exd:0
            name:
              start: 66
              end: 72
            type: other
            jurisdiction: US-FED
            reception: neutral
            mentions:
            - start: 66
              end: 72
            pinpoints:
            - start: 54
              end: 58
          - id: exd:1
            name:
              start: 80
              end: 113
            type: statute
            jurisdiction: US-FED
            reception: neutral
            mentions:
            - start: 80
              end: 113
            pinpoints:
            - start: 79
              end: 84
            - start: 219
              end: 229
          quotes:
          - source_segment: null
            source_document: exd:0
            source_person: per:0
            amending: false
            span:
              start: 79
              end: 317
          dates: []
          headings: []
          junk: []
    EnrichmentUsage:
      properties:
        input_tokens:
          type: integer
          minimum: 1.0
          title: Positive integer
          description: The total number of tokens inputted to the model.
          examples:
          - 91
      type: object
      required:
      - input_tokens
      title: Enrichment usage
      description: Statistics about the usage of resources in the process of enriching
        the input.
      examples:
      - input_tokens: 91
    ILGSv1 Crossreference:
      properties:
        start:
          type: string
          minLength: 5
          pattern: ^seg:(?:0|[1-9]\d*)$
          description: The unique identifier of the earliest segment in the span of
            segments being cross-referenced with ties broken in favor of the least-nested
            (i.e., largest) segment. If the cross-reference points to a single segment,
            `start` and `end` will be identical.
          examples:
          - seg:49
        end:
          type: string
          minLength: 5
          pattern: ^seg:(?:0|[1-9]\d*)$
          description: The unique identifier of the latest segment in the span of
            segments being cross-referenced with ties broken in favor of the least-nested
            (i.e., largest) segment. If the cross-reference points to a single segment,
            `start` and `end` will be identical.
          examples:
          - seg:51
        span:
          $ref: '#/components/schemas/Span'
      type: object
      required:
      - end
      - span
      - start
      title: ILGSv1 Crossreference
      description: A cross-reference within the document pointing to one or more segments.
      examples:
      - start: seg:49
        end: seg:51
        span:
          start: 2213
          end: 2229
    ILGSv1 Date:
      properties:
        value:
          type: string
          maxLength: 10
          minLength: 10
          pattern: ^(?:[1-9]\d{3})-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])$
          description: The date in ISO 8601 format (YYYY-MM-DD).
          examples:
          - '2028-01-01'
        type:
          type: string
          enum:
          - creation
          - signature
          - effective
          - expiry
          - delivery
          - renewal
          - payment
          - birth
          - death
          description: 'The type of the date, being one of `creation`, `signature`,
            `effective`, `expiry`, `delivery`, `renewal`, `payment`, `birth`, or `death`.
            If a date is mentioned in a document that does not fit into a supported
            type, it will not be extracted.


            `creation` denotes the date the document was created. There may only be
            one `creation` date per document.


            `signature` denotes the date the document was signed.


            `effective` denotes the date when the document or a part thereof comes
            into effect (e.g., commencement or enactment dates).


            `expiry` denotes the date when the document or a part thereof is no longer
            in effect.


            `delivery` denotes the date when goods or services are to be delivered
            under the document.


            `renewal` denotes the date when one or more of the document''s terms are
            to be renewed.


            `payment` denotes the date when payment is to be made under the document.


            `birth` denotes the birth date of a natural person or establishment (e.g.,
            incorporation) date of a non-natural legal person identified in the document.
            There can only be one `birth` date linked to a single person and all `birth`
            dates must be linked to a person. A person''s `birth` date will never
            be after their `death` date.


            `death` denotes the death date of a natural person or dissolution date
            of a non-natural legal person identified in the document. There can only
            be one `death` date linked to a single person and all `death` dates must
            be linked to a person. A person''s `death` date will never be before their
            `birth` date.'
          examples:
          - signature
        person:
          oneOf:
          - type: string
            title: ILGSv1 Person ID
            description: A unique identifier for a legal person in the format `per:{index}`
              where `{index}` is a non-negative incrementing integer starting from
              zero.
            examples:
            - per:8
          - type: 'null'
          description: 'The unique identifier of the legal person that this date is
            associated with or `null` if the date is not associated with any legal
            person.


            For `birth` and `death` dates, this field will always be populated.'
          examples:
          - per:12
        mentions:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of one or more spans within the document's text where
            the date is mentioned.
          examples:
          - - start: 1179
              end: 1194
            - start: 8784
              end: 8799
      type: object
      required:
      - mentions
      - person
      - type
      - value
      title: ILGSv1 Date
      description: 'A date identified in a document belonging to one of the following
        types: `creation`, `signature`, `effective`, `expiry`, `delivery`, `renewal`,
        `payment`, `birth`, or `death`.


        Only Gregorian dates between the years 1000 and 9999 (inclusive) fitting into
        one of the supported date types are extractable.'
      examples:
      - value: '2028-01-01'
        type: signature
        person: null
        mentions:
        - start: 1179
          end: 1194
        - start: 8784
          end: 8799
    ILGSv1 Email:
      properties:
        address:
          type: string
          minLength: 5
          pattern: ^[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,63}$
          description: The normalized email address.
          examples:
          - hello@example.com
        person:
          type: string
          minLength: 5
          pattern: ^per:(?:0|[1-9]\d*)$
          description: The unique identifier of the person that this email address
            belongs to.
          examples:
          - per:3
        mentions:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of one or more spans within the document's text where
            the email address is mentioned.
          examples:
          - - start: 5142
              end: 5164
      type: object
      required:
      - address
      - mentions
      - person
      title: ILGSv1 Email
      description: 'An email address identified in a document belonging to a legal
        person.


        If an email address was mentioned in the document but is not attributable
        to a legal person, it will not be extracted.'
      examples:
      - address: hello@example.com
        person: per:3
        mentions:
        - start: 5142
          end: 5164
    ILGSv1 External Document:
      properties:
        id:
          type: string
          minLength: 5
          pattern: ^exd:(?:0|[1-9]\d*)$
          description: The unique identifier of the external document in the format
            `exd:{index}` where `{index}` is a non-negative incrementing integer starting
            from zero.
          examples:
          - exd:2
        name:
          $ref: '#/components/schemas/Span'
        type:
          type: string
          enum:
          - statute
          - regulation
          - decision
          - contract
          - other
          description: 'The type of the external document, being one of `statute`,
            `regulation`, `decision`, `contract`, or `other`.


            `statute` denotes primary legislation such as acts, bills, codes, and
            constitutions.


            `regulation` denotes secondary legislation such as rules, statutory instruments,
            and ordinances.


            `decision` denotes judicial or quasi-judicial decisions such as court
            judgments, judicial opinions, and tribunal rulings.


            `other` is used for all other types of legal documents that do not fit
            into any of the predefined types.'
          examples:
          - statute
        jurisdiction:
          oneOf:
          - type: string
            title: ILGSv1 Jurisdiction
            description: 'A jurisdiction code representing a country (via an initial
              country code) and, optionally, a subdivision within that country (via
              a subsequent subdivision code prefixed by a hyphen).


              All 249 ISO 3166-1 alpha-2 country codes are representable in addition
              to special `INT` and `EU` codes for international and European Union
              law, respectively.


              All 5,046 ISO 3166-2 codes are also representable in addition to a special
              `FED` code for federal law.'
            examples:
            - AU-FED
          - type: 'null'
          description: 'The jurisdiction of the external document or `null` if the
            jurisdiction is unknown.


            Jurisdictions are composed of a country code and, where applicable, a
            subdivision code prefixed by a hyphen.


            All 249 ISO 3166-1 alpha-2 country codes are representable in addition
            to special `INT` and `EU` codes for international and European Union law,
            respectively.


            All 5,046 ISO 3166-2 codes are also representable in addition to a special
            `FED` code for federal law.'
          examples:
          - AU-FED
        reception:
          type: string
          enum:
          - positive
          - mixed
          - negative
          - neutral
          description: 'The sentiment of the document towards the external document,
            being one of `positive`, `mixed`, `negative`, or `neutral`.


            `positive` indicates that the document expresses a favorable view of the
            external document whether by endorsing or approving it.


            `mixed` indicates that the document expresses both favorable and unfavorable
            views of the external document, for example, by affirming parts of it
            and disapproving others.


            `negative` indicates that the document expresses an unfavorable view of
            the external document whether by criticizing, repealing, overruling, or
            explicitly contradicting it.


            `neutral` indicates that the document references the external document
            without expressing any particular sentiment towards it.'
          examples:
          - positive
        mentions:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of one or more spans within the document's text where
            the external document is mentioned by name, for example, 'the US Constitution'
            in 'the Second Amendment to the US Constitution protects freedom of speech'.
          examples:
          - - start: 937
              end: 941
            - start: 1972
              end: 2005
            - start: 3713
              end: 3734
        pinpoints:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of spans within the document's text where specific
            parts of the external document are referenced, for example, 'Section 2'
            in 'as defined in Section 2 of the US Constitution'.
          examples:
          - - start: 7696
              end: 7712
      type: object
      required:
      - id
      - jurisdiction
      - mentions
      - name
      - pinpoints
      - reception
      - type
      title: ILGSv1 External Document
      description: A document identified within another document.
      examples:
      - id: exd:2
        name:
          start: 1972
          end: 2005
        type: statute
        jurisdiction: US
        reception: positive
        mentions:
        - start: 937
          end: 941
        - start: 1972
          end: 2005
        - start: 3713
          end: 3734
        pinpoints:
        - start: 7696
          end: 7712
    ILGSv1 ID Number:
      properties:
        number:
          type: string
          minLength: 1
          pattern: \S
          description: The identification number.
          examples:
          - 999-99-9999
        person:
          type: string
          minLength: 5
          pattern: ^per:(?:0|[1-9]\d*)$
          description: The unique identifier of the person that this identification
            number belongs to.
          examples:
          - per:7
        mentions:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of one or more spans within the document's text where
            the identification number is mentioned.
          examples:
          - - start: 7180
              end: 7194
      type: object
      required:
      - mentions
      - number
      - person
      title: ILGSv1 ID Number
      description: 'An identification number mentioned in a document belonging to
        a legal person.


        If an identification number was mentioned in the document but is not attributable
        to a legal person, it will not be extracted.'
      examples:
      - number: 999-99-9999
        person: per:7
        mentions:
        - start: 7180
          end: 7194
    ILGSv1 Location:
      properties:
        id:
          type: string
          minLength: 5
          pattern: ^loc:(?:0|[1-9]\d*)$
          description: The unique identifier of the location in the format `loc:{index}`
            where `{index}` is a non-negative incrementing integer starting from zero.
          examples:
          - loc:6
        name:
          $ref: '#/components/schemas/Span'
        type:
          type: string
          enum:
          - country
          - state
          - city
          - address
          - other
          description: The type of the location, being one of `country`, `state`,
            `city`, `address`, or `other`.
          examples:
          - address
        parent:
          oneOf:
          - type: string
            title: ILGSv1 Location ID
            description: A unique identifier for a location in the format `loc:{index}`
              where `{index}` is a non-negative incrementing integer starting from
              zero.
            examples:
            - loc:6
          - type: 'null'
          description: 'The unique identifier of the ''parent'' location most immediately
            containing this location or `null` if the location has no ancestors identified
            in the document.


            Locations with the `address` and `other` types can have locations of any
            type as their parents.


            A location with the `city` type cannot have a location with the `address`
            type as its parent.


            A location with the `state` type cannot have a location with the `address`
            or `city` types as its parent.


            A location with the `country` type cannot have a location with the `address`,
            `city`, or `state` types as its parent.


            It is impossible for a location to be its own ancestor.'
          examples:
          - loc:1
        mentions:
          items:
            $ref: '#/components/schemas/ILGSv1 Span'
          type: array
          description: An array of one or more spans within the document's text where
            the location is mentioned.
          examples:
          - - start: 5074
              end: 5133
            - start: 6523
              end: 6582
            - start: 8094
              end: 8153
      type: object
      required:
      - id
      - mentions
      - name
      - parent
      - type
      title: ILGSv1 Location
      description: A location identified within a document.
      examples:
      - id: loc:6
        name:
          start: 6523
          end: 6582
        type: address
        parent: loc:1
        mentions:
        - start: 5074
          end: 5133
        - start: 6523
          end: 6582
        - start: 8094
          end: 8153
    ILGSv1 Person:
      properties:
        id:
          type: string
          minLength: 5
          pattern: ^per:(?:0|[1-9]\d*)$
          description: The unique identifier of the person in the format `per:{index}`
            where `{index}` is a non-negative incrementing integer starting from zero.
          examples:
          - per:8
        name:
          $ref: '#/components/schemas/Span'
        type:
          type: string
          enum:
          - natural
          - corporate
          - politic
          description: 'The legal entity type of the person, being one of `natural`,
            `corporate`, or `politic`.


            `natural` denotes a human being in their capacity as a natural legal person,
            including when representing unincorporated entities such as partnerships
            and trusts.


            `corporate` denotes a body corporate such as a company, incorporated partnership,
            or statutory corporation.


            `politic` denotes a body politic such as a court, state, government, or
            intergovernmental organization.'
          examples:
          - natural
        role:
          type: string
          enum:
          - plaintiff
          - petitioner
          - applicant
          - appellant
          - appellee
          - claimant
          - complainant
          - defendant
          - respondent
          - prior_authority
          - prosecutor
          - defense_counsel
          - amicus
          - intervener
          - borrower
          - lender
          - guarantor
          - lessee
          - lessor
          - employer
          - employee
          - licensor
          - licensee
          - franchisor
          - franchisee
          - buyer
          - seller
          - contractor
          - shareholder
          - joint_venturer
          - investor
          - insurer
          - insured
          - enacting_authority
          - empowered_authority
          - settlor
          - trustee
          - beneficiary
          - debater
          - director
          - governing_jurisdiction
          - clerk
          - witness
          - other
          - non_party
          description: 'The role of the person in relation to the subject of the document.


            The following roles are currently supported:

            |                          |                                                                                                                                                                                                                                                                                                                                      |

            | ------------------------ | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            |

            | `plaintiff`              | A party initiating the case that is the subject
            of the document.                                                                                                                                                                                                                                                                     |

            | `petitioner`             | A party initiating the petition that is the
            subject of the document.                                                                                                                                                                                                                                                                 |

            | `applicant`              | A party initiating the application that is
            the subject of the document.                                                                                                                                                                                                                                                              |

            | `appellant`              | A party appealing the decision that is the
            subject of the document.                                                                                                                                                                                                                                                                  |

            | `appellee`               | A party responding to the appeal that is
            the subject of the document if they are explicitly referred to as an ''appellee''.                                                                                                                                                                                                            |

            | `claimant`               | A party making a claim in the case that is
            the subject of the document.                                                                                                                                                                                                                                                              |

            | `complainant`            | A party making a complaint in the case that
            is the subject of the document.                                                                                                                                                                                                                                                          |

            | `defendant`              | A party defending against the case that is
            the subject of the document.                                                                                                                                                                                                                                                              |

            | `respondent`             | A party responding to the petition, appeal,
            or application that is the subject of the document.                                                                                                                                                                                                                                      |

            | `prior_authority`        | An authority (e.g., judge, tribunal, court)
            that made a prior decision in the case that is the subject of the document.
            Both individual judges and courts should be annotated with this role where
            applicable. This is not to be used for authorities cited as precedent,
            only for those that made prior decisions in the same case. |

            | `prosecutor`             | A lawyer prosecuting the case that is the
            subject of the document.                                                                                                                                                                                                                                                                   |

            | `defense_counsel`        | A lawyer defending the case that is the subject
            of the document.                                                                                                                                                                                                                                                                     |

            | `amicus`                 | A party filing an amicus curiae brief in
            the case that is the subject of the document.                                                                                                                                                                                                                                               |

            | `intervener`             | A party attempting to or that has intervened
            in the case that is the subject of the document.                                                                                                                                                                                                                                        |

            | `borrower`               | A party borrowing money or other assets under
            the agreement that is the subject of the document, including ''mortgagors''
            and ''debtors''.                                                                                                                                                                                               |

            | `lender`                 | A party lending money or other assets under
            the agreement that is the subject of the document, including ''mortgagees''
            and ''creditors''.                                                                                                                                                                                               |

            | `guarantor`              | A party guaranteeing obligations under the
            agreement that is the subject of the document, including ''sureties''.                                                                                                                                                                                                                      |

            | `lessee`                 | A party leasing goods or services under the
            agreement that is the subject of the document, including ''tenants''.                                                                                                                                                                                                                      |

            | `lessor`                 | A party leasing goods or services under the
            agreement that is the subject of the document, including ''landlords''.                                                                                                                                                                                                                    |

            | `employer`               | A party employing personnel under the agreement
            that is the subject of the document.                                                                                                                                                                                                                                                 |

            | `employee`               | A party employed under the agreement that
            is the subject of the document.                                                                                                                                                                                                                                                            |

            | `licensor`               | A party licensing intellectual property or
            other rights under the agreement that are the subject of the document.                                                                                                                                                                                                                    |

            | `licensee`               | A party licensed to use intellectual property
            or other rights under the agreement that are the subject of the document.                                                                                                                                                                                                              |

            | `franchisor`             | A party granting a franchise under the agreement
            that is the subject of the document.                                                                                                                                                                                                                                                |

            | `franchisee`             | A party granted a franchise under the agreement
            that is the subject of the document.                                                                                                                                                                                                                                                 |

            | `buyer`                  | A party purchasing goods or services under
            the agreement that is the subject of the document, including ''purchasers'',
            ''customers'', and ''clients''.                                                                                                                                                                                    |

            | `seller`                 | A party selling or providing goods or services
            under the agreement that is the subject of the document, including ''Vendors'',
            ''Suppliers'', and ''Service Providers'' (where such parties are actually
            providing goods or services under the agreement).                                                                                 |

            | `contractor`             | A party contracted to perform work or services
            under the agreement that is the subject of the document, including ''consultants''.                                                                                                                                                                                                     |

[...]
